.articles-list {
    list-style: none;
    padding: 0;
}

.articles-list > li {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 2px;
    background: #f2f2f2;
}

.articles-list--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f2f2f2;
}